body{
  background-color: #f5f5f5;
}
.ui.inverted.fixed.borderless.red.menu{
  height: 56px;
}
.ui.three.item.menu{
  box-sizing: border-box;
  margin-top: 102px;
  margin-bottom: 28px;
  height: 46px;
  width: 402px;
  position: relative;
  transform: translate(-50%,-50%);
  left: 50%;
}
.ui.three.column.grid{
  margin-left: 308px;
  margin-right: 308px;
}
.ui.image.photo{
  width: 256px;
  height: 202px;
  /*margin-top: 50px;*/
  margin-right: 26px;
  margin-bottom: 20px;
}
.ui.basic.buttons{
  box-sizing: border-box;
  height: 40px;
  position: relative;
  transform: translate(-50%,-50%);
  left: 50%;
  margin-top: 74px;
  margin-bottom: 40px;
  background-color: #ffffff;
}
@media only screen and (max-width: 1024px) {
  .ui.three.column.grid {
    margin: 0;
  }
}
@media only screen and (max-width: 480px) {
  .ui.three.column.grid .column {
    width: 100%;
    margin: 0;
  }
  .ui.image.photo {
    width: 100%;
    margin: 10px;
  }
}
